<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Breeds</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<%- include('./partials/navbar') -%>

<section>
<h2>Cat Breeds</h2>
<p>Explore different cat breeds and learn more about their characteristics:</p>

<ul>
<li>
    <strong>Persian Cat</strong>
    <p>A Persian cat is known for its long fur and distinctive flat face.</p>
</li>
<li>
    <strong>Siamese Cat</strong>
    <p>The Siamese cat is known for its striking blue almond-shaped eyes and short coat with color points.</p>
</li>
<li>
    <strong>Maine Coon</strong>
    <p>The Maine Coon is one of the largest domesticated cat breeds, known for its tufted ears and bushy tail.</p>
</li>
</ul>
</section>
</body>

</html>