<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats Webpage</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<%- include('./partials/navbar') -%>

<section>
<h2>Welcome to Cats Paradise</h2>
<p>
    Cats are wonderful creatures known for their playful and independent nature. Whether you're a cat
    owner or just a cat enthusiast, you've come to the right place to explore everything about our feline
    friends.
</p>
</section>

</body>
</html>

